@page "/dogs/details_adoptable"
@using Microsoft.EntityFrameworkCore
@using DogAdoptionApp.Models
@inject IDbContextFactory<DogAdoptionApp.Data.DogAdoptionAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Dog</h2>
    <hr />
    @if (dog is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@dog.Name</dd>
            <dt class="col-sm-2">Age</dt>
            <dd class="col-sm-10">@dog.Age</dd>
            <dt class="col-sm-2">Breed</dt>
            <dd class="col-sm-10">@dog.Breed</dd>
            <dt class="col-sm-2">Size</dt>
            <dd class="col-sm-10">@dog.Size</dd>
            <dt class="col-sm-2">Shelter</dt>
            <dd class="col-sm-10">@dog.Shelter</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@dog.Description</dd>
            <dt class="col-sm-2">AdoptionStatus</dt>
            <dd class="col-sm-10">@dog.AdoptionStatus</dd>
        </dl>
        <div>
            <a href="adoptionforms/create_adopter">Adopt Now! - Fill Out Adoption Form</a>
            <a href="@($"/dogs")">Back to List</a>
        </div>
    }
</div>

@code {
    private Dog? dog;

    [SupplyParameterFromQuery]
    private int DogID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        dog = await context.Dog.FirstOrDefaultAsync(m => m.DogID == DogID);

        if (dog is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
